[submodule "cannon-camera"]
	path = cannon-camera
	url = https://github.com/PLAYRUrk/cannon-camera.git
[submodule "SPTT-CAM"]
	path = SPTT-CAM
	url = https://github.com/PLAYRUrk/SPTT-CAM.git
[submodule "infra-camera"]
	path = infra-camera
	url = https://github.com/PLAYRUrk/infra-camera.git
